.сontainer {
	width: 200px;
	height: 250px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
	background-color: #333741;
}

.screen {
	width: 90%;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	background-color: #e1f2ff;
	text-align: right;
}

.result {
	width: 90%;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	background-color: #e1f2ff;
	text-align: right;
	color: green;
}

.gridContainer {
	display: grid;
	width: 90%;
	margin: auto;
	grid-template-columns: 70% 30%;
	gap: 2px;
}

.numbers {
	width: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto;
	padding: 0;
	gap: 2px;
}

.numbers li:last-child {
	grid-column-start: 1;
	grid-column-end: 4;
}

.actions {
	display: grid;
	padding: 0;
	gap: 2px;
}

li {
	width: auto;
	height: 20px;
	background-color: #6a768c;
	color: white;
	list-style-type: none;
	text-align: center;
}
